<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%=f.text_field :name %><br>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%=f.text_field :email %><br>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%=f.text_field :user %><br>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%=f.text_field :phone %><br>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%=f.text_field :image %><br>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%=f.text_field :password %><br>
  </div>
  <div class="field">
    <%= f.label :Confirm_Password %><br>
    <%=f.text_field :password_confirmation %><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
