<div class="container">
    <div class="profile">
      <p id="notice"><%= notice %></p>
      <h1>Welcome <%= @user.name %>!</h1>
      <img src=<%=@user.image %> alt="" height= "200" width="200"></br>
      <p><a href = "mailto:<%= @user.email %> "><%= @user.email %> </a></p>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
    </div>

  <div class="row clearfix">

    <div class="all-users">
      <h1>WDI August - 2014</h1><button type="button" id="new-hi5-form">Send New Hi 5ive</button>
      <% @users.each do |user| %>
      <div class="user-buttons">
        <span>
          <p><%= user.name %></p>
          <%#= link_to 'Send hi5', new_hifife_path + "?phone=" + user.phone.to_s ,  :class => "send-hi5"  %>
          <button type="button" class="btn btn-default btn-lg send-hi5" data-user-id="<%= user.id %>" data-user-phone="<%= user.phone %>" data-user-name="<%= user.name %>" data-my-name="<%= @user.name %>"><span class="glyphicon glyphicon-thumbs-up"></span></button>
          Hi-5ives: <%= Hifive.where(phone: User.find_by(id: user.id).phone).length %>
        </span>
      </div>
      <% end %>
    </div>

    <div id="new-form">
    </div>

    <div class="hi-fives">
      <h1>Unique Hi 5s this Week: <%= @hifives.length %></h1>
       <% @hifives.each do |hifive| %>
        <span>
          <h1><%= hifive.from %></h1>
          <%= hifive.message %> </br>
        </span>
      <% end %>
    </div>
    </br>
  </div>
</div>


<script>
  $(document).ready(users.show)
</script>
