<div class="container">
    <div class="profile">
      <p id="notice"><%= notice %></p>
      <h1>Name: <%= @user.name %></h1>
      <img src=<%=@user.image %> alt="" height= "200" width="200"></br>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
    </div>

  <div class="row clearfix">

    <div class="all-users">
      <h1>Fellow Hi 5ivers</h1>
      <% @users.each do |user| %>
        <span>
          <%= user.name %>
          <%= link_to 'Send hi5', new_hifife_path,  :class => "send-hi5"  %></br>
        </span>
      <% end %>
    </div>

    <div id="new-form">
    </div>

    <div class="hi-fives">
      <h1>Unique Hi 5s this Week: <%= @hifives.length %></h1>
       <% @hifives.each do |hifive| %>
        <span>
          <%= hifive.from %>
          <%= hifive.message %> </br>
        </span>
      <% end %>
    </div>
    </br>
  </div>
</div>


<script>
  $(document).ready(users.show)
</script>
