


  <div class="main-container">

    <div class="container top50">
        <div class="row profile">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 profile-photo">
                <div class="item-1">
                  <div class="img-container">
                      <a href="#"><img src=<%=@user.image %> alt="" height= "200" width="200"/></a>
                    </div>
                    <div class="robin-key">
                      <p><%= @user.name %></p>

                        <ul>
                          <li><a href="mailto:<%= @user.email %>"><i class="glyphicon glyphicon-envelope"></i></a></li>
                            <li><a href=<%= edit_user_path(@user)%>><i class="glyphicon glyphicon-pencil"></i></a></li>
                        </ul>
                    </div>

                    <ul class="follow-list">
                      <li><a href="#"><i class="fa fa-heart"></i> <%= @hifives.length %> </a></li>
                        <li><a href="#"><i class="fa fa-users"></i> <%= @users.length %> </a></li>
                        <li><a href="#"><i class="fa fa-building-o"></i> 80</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i> 120</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            </div>
        </div>
    </div>


  <div class="row clearfix hi5-content">
    <div class="all-users">
      <h1 class="main-heading">WDI August - 2014</h1><button type="button" id="new-hi5-form">Send New Hi 5ive</button>
      <% @users.each do |user| %>
      <div class="user-buttons">
        <span>
          <p><%= user.name %></p>
          <button type="button" class="btn btn-default btn-lg send-hi5" data-user-id="<%= user.id %>" data-user-phone="<%= user.phone %>" data-user-name="<%= user.name %>" data-my-name="<%= @user.name %>"><span class="glyphicon glyphicon-thumbs-up"></span></button>
            <span>
              Hi-5ives: <%= Hifive.where(phone: User.find_by(id: user.id).phone).length %>
            </span>
        </span>
      </div>
      <% end %>
    </div>

    <div id="new-form">
    </div>

      <div class="hi-fives">
        <h1 class="main-heading">Unique Hi 5s this Week: <%= @hifives.length %></h1>
          <% @hifives.each do |hifive| %>
            <div class="each-hi5">
              <span>
                <p class="hi5s">
                  <%= hifive.from %> - <%= hifive.message %>
                </p>
              </span>
            </div>
          <% end %>
      </div>
    </br>
  </div>
</div>


    <script>
      $(document).ready(users.show)
    </script>

