<div class="profile">
  <p id="notice"><%= notice %></p>
  <h1>Name: <%= @user.name %></h1>
  <img src=<%=@user.image %> alt="" height= "200" width="200">
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>

<div class="all-users">
  <h1>Fellow Hi 5ivers</h1>
  <% @users.each do |user| %>
    <span>
      <%= user.name %>
      <%= link_to 'Send hi5', new_hifife_path, "class" => "send-hi5" %></br>
    </span>
  <% end %>
</div>

<div id="new-form">
  <h1>TEST LOCATION</h1>
</div>

<div class="hi-fives">
  <% @hifives.each do |hifive| %>
  <span>
    <%= hifive.from %>
    <%= hifive.message %> </br>
  </span>
  <% end %>
</div>
</br>


<script>
  $(document).ready(users.show)
</script>
