<%= form_for(@hifive) do |f| %>

  <div class="hi5-form">
    <div class="field">
      <%= f.label :recipient %><br>
      <%=f.text_field :to %><br>
    </div>
    <div class="field">
      <%= f.label :from %><br>
      <%=f.text_field :from %><br>
    </div>
    <div class="field">
      <%= f.label :phone %><br>
      <%=f.text_field :phone %><br>
    </div>
    <div class="field">
      <%= f.label :message %><br>
      <%=f.text_field :message %><br>
    </div>
    <div class="field">
    <%= f.hidden_field(:user_id, :value => @user_id) %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
