<!DOCTYPE html>
<html>
<head>
  <title>Hifiveapp</title>
    <!-- Latest compiled and minified JavaScript -->
  <link href='https://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'sessionstyle' %>
  <%= stylesheet_link_tag    'users' %>

  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-XXXX-Y', 'auto');
  ga('send', 'pageview');

  </script>
  <!-- End Google Analytics -->

  <!-- Latest compiled and minified CSS -->
  <!-- Optional theme -->
  <!-- Logo Font -->
</head>
<body>
    <ul class="nav pull-left navbar-inverse navbar-nav navbar-fixed-top">
      <% if session[:user_id] %>
        <li class="login"><%= link_to 'Hi 5ive', user_path(session[:user_id]), class: 'logo' %></li>
      <% else %>
        <li class="login"><%= link_to 'Hi 5ive', login_path, class: 'logo' %></li>
      <% end %>

      <% if session[:user_id] %>
        <li class="login"><%= link_to 'Logout', session_path, method: :delete %></li>
        <% else %>
      <li class="login"><%= link_to 'Log In', login_path %></li>
        <li class="signup"><%= link_to 'Sign Up', new_user_path %></li>
      <% end %>
    </ul>

<%= yield %>

</body>
</html>
