<!DOCTYPE html>
<html>
<head>
  <title>Hifiveapp</title>
    <!-- Latest compiled and minified JavaScript -->
  <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'users' %>

  <!-- Latest compiled and minified CSS -->
  <!-- Optional theme -->
  <!-- Logo Font -->
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps' rel='stylesheet' type='text/css'>
</head>
<body>
    <ul class="nav pull-left navbar-inverse navbar-nav navbar-fixed-top", style="font-size: 15px; font-family: 'Oleo Script Swash Caps', cursive;">
      <% if session[:user_id] %>
        <li class="login"><%= link_to 'Hi 5ive', user_path(session[:user_id]), class: 'logo' %></li>
      <% else %>
        <li class="login"><%= link_to 'Hi 5ive', login_path, class: 'logo' %></li>
      <% end %>

      <% if session[:user_id] %>
        <li class="login"><%= link_to 'Logout', session_path, method: :delete %></li>
        <% else %>
      <li class="login"><%= link_to 'Log In', login_path %></li>
        <li class="signup"><%= link_to 'Sign Up', new_user_path %></li>
      <% end %>
    </ul>

<%= yield %>

</body>
</html>
